body {
  font-family: "Arial", sans-serif;
  font-size: 24px;

  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

/* Grundlegende Stile, die auf allen Geräten angewandt werden */
body,
h1,
h2,
p,
button {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 96px; /* Größere Schrift für den Titel */
  padding: 10px 0;
  text-align: center;
}

h2 {
  font-size: 48px;
  margin: 20px 0;
}

p,
button {
  padding: 5px;
  font-size: 20px;
  color: #fff;
  background-color: #818181;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container {
  width: 90%;
  margin: 10px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.header {
  padding: 10px 0;
  border-bottom: 2px solid #eee;
  text-align: center;
}

.section {
  margin-top: 20px;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
}

.section h2 {
  color: #333;
}

#heliostat_status > div {
  margin-bottom: 10px;
  font-size: 36px;
}

#solar_position_display > div {
  margin-bottom: 10px;
  font-size: 36px;
}

.control-container {
  display: flex;
  align-items: center; /* Zentriert die Elemente vertikal */
  justify-content: center; /* Zentriert die Elemente horizontal */
}

.control-slider {
  display: flex;
  flex-direction: column; /* Richtet die Buttons vertikal aus */
  align-items: center; /* Zentriert die Buttons innerhalb ihrer Spalte */
  margin-right: 100px; /* Fügt Abstand zwischen den beiden Spalten hinzu */
}

.control-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control-row {
  margin: 5px 0; /* Gibt jedem Button-Row etwas Abstand */
}

.direction-btn {
  min-width: 80px; /* Stellt sicher, dass alle Buttons gleich breit sind */
}

#step-size-value {
  margin: 10px 0; /* Gibt dem Textlabel Raum ober- und unterhalb */
}

.control-container button {
  padding: 10px;
  /* font-size: 20px; */
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 150px; /* Fixierte Breite für Buttons */
  height: 100px; /* Fixierte Höhe für Buttons */
}

.control-container button:hover {
  background-color: #0056b3;
}

@media (max-width: 600px) {
  .container {
    width: 95%;
    padding: 15px;
  }

  .control-panel button {
    padding: 8px;
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .header,
  .section {
    padding: 10px;
  }

  .control-panel button {
    width: 40px;
    height: 40px;
  }
}

#preview {
  width: 75%; /* oder eine andere passende Breite */
  height: 600px; /* oder eine andere passende Höhe */
  margin: auto; /* Zentriert das Div auf der Seite */
}


#azimuthContainer, #elevationContainer {
  margin-bottom: 10px;
}

input[type="number"] {
  width: 80px;
}

input[type="text"] {
  font-size: 24px; /* Größere Schriftgröße für bessere Lesbarkeit */
  width: 100px; /* Passende Breite, kann je nach Bedarf angepasst werden */
  padding: 5px; /* Mehr Platz im Inneren des Feldes */
  margin: 5px 0; /* Abstand oben und unten */
  border: 1px solid #ccc; /* Dezente Rahmenfarbe */
  border-radius: 4px; /* Abgerundete Ecken */
}
